/* add css styles here (optional) */

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

/*
reference:
https://iamsteve.me/blog/entry/using-flexbox-for-horizontal-scrolling-navigation

[1]: Make a flex container so all our items align as necessary
[2]: Prevent items from wrapping
[3]: Automatic overflow means a scroll bar won’t be present if it isn’t needed
[4]: Make it smooth scrolling on iOS devices
[5]: Hide the ugly scrollbars in Edge until the scrollable area is hovered
[6]: Hide the scroll bar in WebKit browsers
*/

.container {
  display: flex; /* [1] */
  flex-wrap: nowrap; /* [2] */
  overflow-x: auto; /* [3] */
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */
}

/* [6] */
.container::-webkit-scrollbar {
  display: none; }

.tab {
  flex: 0 0 auto;
  padding-left: 1vw;
  padding-right: 1vw;
}